<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
    <title>Document</title>
</head>
<body>
    <form id="queryForm">
        <label for="name">姓名:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="pwd">密码:</label><br>
        <input type="text" id="pwd" name="pwd"><br>
        <label for="age">年龄:</label><br>
        <input type="text" id="age" name="age"><br>
        <input type="button" value="查询" onclick="submitQuery()">
      </form>
</body>
</html>
 

<script>
  


  var name, age, pwd; 
  var ws;

    function submitQuery() {
      name = $('#name').val();
      age = $('#age').val();
      pwd = $('#pwd').val();
      

      console.log(name,age,pwd);
      ws = new WebSocket('ws://localhost:8000/ws/' + name + '/' + age);
      console.log(ws.url);
      

      // 当连接打开时，发送一个消息
      ws.onopen = function(event) {
          console.log('Connection is open ...');
      };

      // 当接收到消息时，处理消息
      ws.onmessage = function(event) {
          var jsonobject = JSON.parse(event.data);
          console.log("Received Message: " + jsonobject.name,jsonobject.age);
      };

      // 当连接关闭时，记录
      ws.onclose = function(event) {
          console.log(ws.url);     
          console.log('Connection is closed...');          
      };

      ws.onerror = function(event) {
        console.error('WebSocket error observed:', event);
    };

      

      //以下语句用于hash加密
      /*
      var hash =  CryptoJS.SHA256(pwd);       
      $('#pwd').val(hash)
      var pwd = $('#pwd').val();
      console.log(pwd);
      */
      



      var url = 'http://localhost:8000/';
    
      var data = {};
      if (name) {
        data.name = name;
      }
      if (age) {
        data.age = age;
      }
      if (pwd) {
        data.pwd = pwd;
      }
    
      $.ajax({
        async: true,
        url: url,
        type: 'GET',
        data: data,
        success: function(response) {
          //console.log("success");

          //console.log(response);
          // 在这里处理服务器返回的响应
        },
        error: function(error) {
          //console.log("error");
          //console.log(error);
          // 在这里处理错误
        }
      });
    }
    </script>